#root {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	/*font-size: 16px;*/
	margin: 0 auto;
	text-align: center;
	width: 100%;
	border: 1px solid var(--color-day-text);
	/*background-color: var(--color-day-bg);*/

	/*Day theme*/
	--color-day-bg: hsl(206, 64%, 92%);
	--color-day-text: hsl(206, 64%, 27%);
	--color-day-error: hsla(0, 100%, 50%, 0.75);
	--color-day-success: hsla(120, 100%, 50%, 0.75);
	--color-day-hidden-word: hsl(60, 100%, 50%);

	/*Night theme*/
	--color-night-bg: hsl(0, 0%, 7%);
	--color-night-text: hsl(230, 89%, 74%);
	--color-night-error: hsla(0, 90%, 60%, 0.6);
	--color-night-success: hsla(120, 90%, 45%, 0.75);
	--color-night-hidden-word: hsla(60, 90%, 40%, 0.8);

	/*Shadows*/
	--shadow-long: 0px 10px 15px -3px hsla(206, 64%, 27%, 0.5);
	--shadow-short: 0px 5px 5px -3px hsla(206, 64%, 27%, 0.5);
}

html,
body,
#root {
	min-height: 640px;
	height: auto;
}

html {
	margin: 0 auto;
	max-width: 375px;
}

#root {
	padding: 1rem 0;
}


.nav {}

.card {}

.hidden {
	color: transparent;
}

.buttons {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	width: 95%;
	justify-content: center;
	/*background-color: var(--color-day-bg);*/
}
